<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">iDash</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="card-group">
            <div class="card col-md-8">
                        <img class="card-img-top" src="https://photos.zillowstatic.com/p_h/ISirk1i3m3zsd80000000000.jpg" style="width: 40rem" alt="Card image cap">
                            <div class="card-body d-flex flex-column align-items-start" >
                                <p class="card-text"></p>
                            </div>
                </div>
            <div class="card" class= "col-md-4">
                            <div class="card-body d-flex flex-column align-items-start" >
                                <br>
                                <h4 class="card-text"> Price</h4>
                                <p>$788,900</p>
                                <h4 class="card-text">Initial Investment</h4>
                                <p>$78,900</p>
                                <h4 class="card-text">ROI</h4>
                                <p>$1,900 annual</p>
                                <h4 class="card-text">Monthly Rent</h4>
                                <p>$1,700 est.</p>
                                <h4 class="card-text">Cash Flow</h4>
                                <p>$1,400 est.</p>
                            </div>
            </div>
        </div>
    </div>
</div>
