<!-- home.handlebars -->

<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">iDash</a>
</nav>
<div class="jumbotron text-center" style="padding-bottom: 10%;padding-top: 10%; color:white; text-shadow: 2px 2px #808080;
 background-image: url(https://images.unsplash.com/photo-1512917774080-9991f1c4c750?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0cf4ef4cb623c8a52b1a624f76eaf5bf&auto=format&fit=crop&w=1650&q=300); background-size: 110%; ">
  <h1>Investor Dashboard</h1>
    <p>Welcome to the Ultimate resource for locating SF residential investments!</p>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <form method="POST" action="/detail_view">
                <div class="input-group" >
                    <input type="text" name="zipcode" id="zipcode" class="form-control" placeholder="Select a zipcode">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Go!</button>
                        </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
</div>
</form>
<div class="row">
    <div class=" col-lg-12">
        <h4 style="font-family: Helvetica;">Featured Properties</h4>
    </div>
</div>

    <div class="row">
        <div class="col-md-4">
                  <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                      <strong class="d-inline-block mb-2 text-success">Design</strong>
                      <h3 class="mb-0">
                        <a class="text-dark" href="#">Post title</a>
                      </h3>
                      <div class="mb-1 text-muted">Nov 11</div>
                      <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                      <a href="#">Continue reading</a>
                    </div>
                    <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" src="https://images.unsplash.com/photo-1523217582562-09d0def993a6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c7adacd8460808aaa0168f7cd060ec23&auto=format&fit=crop&w=1100&q=80" data-holder-rendered="true" style="width: 200px; height: 250px;">
                  </div>
                </div>
        <div class="col-md-4">
                  <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                      <strong class="d-inline-block mb-2 text-success">Design</strong>
                      <h3 class="mb-0">
                        <a class="text-dark" href="#">Post title</a>
                      </h3>
                      <div class="mb-1 text-muted">Nov 11</div>
                      <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                      <a href="#">Continue reading</a>
                    </div>
                    <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" src="https://images.unsplash.com/photo-1502005229762-cf1b2da7c5d6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=84594d82d0c4bf605c9670f3b9c46b56&auto=format&fit=crop&w=668&q=80" data-holder-rendered="true" style="width: 200px; height: 250px;">
                  </div>
                </div>
                <div class="col-md-4">
                          <div class="card flex-md-row mb-4 box-shadow h-md-250">
                            <div class="card-body d-flex flex-column align-items-start">
                              <strong class="d-inline-block mb-2 text-success">Design</strong>
                              <h3 class="mb-0">
                                <a class="text-dark" href="#">Post title</a>
                              </h3>
                              <div class="mb-1 text-muted">Nov 11</div>
                              <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                              <a href="#">Continue reading</a>
                            </div>
                            <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" src="https://images.unsplash.com/photo-1527030280862-64139fba04ca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0fe48e5c6d14877269282b673665cd28&auto=format&fit=crop&w=1506&q=80"" data-holder-rendered="true" style="width: 200px; height: 250px;">
                          </div>
                        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
                  <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                      <strong class="d-inline-block mb-2 text-success">Design</strong>
                      <h3 class="mb-0">
                        <a class="text-dark" href="#">Post title</a>
                      </h3>
                      <div class="mb-1 text-muted">Nov 11</div>
                      <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                      <a href="#">Continue reading</a>
                    </div>
                    <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16729940517%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16729940517%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2255.765625%22%20y%3D%22130.86875%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 200px; height: 250px;">
                  </div>
                </div>
        <div class="col-md-4">
                  <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                      <strong class="d-inline-block mb-2 text-success">Design</strong>
                      <h3 class="mb-0">
                        <a class="text-dark" href="#">Post title</a>
                      </h3>
                      <div class="mb-1 text-muted">Nov 11</div>
                      <p class="card-text mb-auto">This is a wider card with supporting text below as a natura   lead-in to additional content.</p>
                      <a href="#">Continue reading</a>
                    </div>
                    <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16729940517%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16729940517%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2255.765625%22%20y%3D%22130.86875%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 200px; height: 250px;">
                  </div>
                </div>
                <div class="col-md-4">
                          <div class="card flex-md-row mb-4 box-shadow h-md-250">
                            <div class="card-body d-flex flex-column align-items-start">
                              <strong class="d-inline-block mb-2 text-success">Design</strong>
                              <h3 class="mb-0">
                                <a class="text-dark" href="#">Post title</a>
                              </h3>
                              <div class="mb-1 text-muted">Nov 11</div>
                              <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                              <a href="#">Continue reading</a>
                            </div>
                            <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22200%22%20height%3D%22250%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20200%20250%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16729940517%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A13pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16729940517%22%3E%3Crect%20width%3D%22200%22%20height%3D%22250%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2255.765625%22%20y%3D%22130.86875%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 200px; height: 250px;">
                          </div>
                        </div>
    </div>
</div>

<!-- <div class="container" style="padding-top: 5%;">
  <div class="row">
    <div class="col-sm-4">
        <p>
        <img align="left" src="https://images.unsplash.com/photo-1523217582562-09d0def993a6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c7adacd8460808aaa0168f7cd060ec23&auto=format&fit=crop&w=1100&q=80"  style="width:200px;height:200px; float:left">
        <div style="text-align: right;">
            <h4>5281 Mission St. San Francisco, Ca</h4>
            <p>Initial Investment ---</p>
            <p>Projected ROI</p>
        </div>
        </p>
    </div>
    <div class="col-sm-4">
        <p>
        <img align="left" src="https://images.unsplash.com/photo-1502005229762-cf1b2da7c5d6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=84594d82d0c4bf605c9670f3b9c46b56&auto=format&fit=crop&w=668&q=80"  style="width:200px;height:200px; float:left">
        <div style="text-align: right;">
            <h4>2321 First St. San Francisco, Ca</h4>
            <p>Initial Investment ---</p>
            <p>Projected ROI</p>
        </div>
        </p>
    </div>
        <div class="col-sm-4">
            <p>
            <img align="left" src="https://images.unsplash.com/photo-1527030280862-64139fba04ca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0fe48e5c6d14877269282b673665cd28&auto=format&fit=crop&w=1506&q=80"  style="width:200px;height:200px; float:left">
            <div style="text-align: right;">
                <h4>2711 Aledera St. San Francisco, Ca</h4>
                <p>Initial Investment ---</p>
                <p>Projected ROI</p>
            </div>
            </p>
        </div>
</div>
<div class="container" style="padding-top: 5%;">
  <div class="row">
    <div class="col-sm-4">
        <p>
        <img align="left" src="https://images.unsplash.com/photo-1522708323590-d24dbb6b0267?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fbaf60783e07f7b6bff745cc88da064a&auto=format&fit=crop&w=1650&q=80"  style="width:200px;height:200px; float:left">
        <div style="text-align: right;">
            <h4>2321 El Paco St. San Francisco, Ca</h4>
            <p>Initial Investment ---</p>
            <p>Projected ROI</p>
        </div>
        </p>
    </div>
    <div class="col-sm-4">
        <p>
        <img align="left" src="https://images.unsplash.com/photo-1426122402199-be02db90eb90?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjF9&s=3f0b0fa6440f74cd1d480e53cbaab5e3&auto=format&fit=crop&w=1650&q=80"  style="width:200px;height:200px; float:left">
        <div style="text-align: right;">
            <h4>2321 Seventh St. San Francisco, Ca</h4>
            <p>Initial Investment ---</p>
            <p>Projected ROI</p>
        </div>
        </p>
    </div>
        <div class="col-sm-4">
            <p>
            <img align="left" src="https://images.unsplash.com/photo-1486509556775-a2404e7d7d7d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=310f8b79d124bbc69a90980081fe8a21&auto=format&fit=crop&w=1650&q=80"  style="width:200px;height:200px; float:left">
            <div style="text-align: right;">
                <h4>2321 Delores St. San Francisco, Ca</h4>
                <p>Initial Investment ---</p>
                <p>Projected ROI</p>
            </div>
            </p>
        </div>
</div>
<br>
<h1>{{msg}}</h1> -->
