<!-- home.handlebars -->

<div class="jumbotron text-center" style="padding-bottom: 15%;padding-top: 15%; color:white; text-shadow: 2px 2px #808080;
 background-image: url(https://images.unsplash.com/photo-1512917774080-9991f1c4c750?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0cf4ef4cb623c8a52b1a624f76eaf5bf&auto=format&fit=crop&w=1650&q=300); background-size: 100%;">
<br>
<br>

  <h1>Investor Dashboard</h1>
    <p>Welcome to the Ultimate resource for locating SF residential investments!</p>
    <div class="col-lg-12">
    <div class="input-group" style="margin-left: 31%; margin-right: 31%">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

</div>

<div class="container" style="padding-top: 5%;">
  <div class="row">
    <div class="col-sm-4">
        <p>
        <img align="left" src="https://images.unsplash.com/photo-1523217582562-09d0def993a6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c7adacd8460808aaa0168f7cd060ec23&auto=format&fit=crop&w=1100&q=80"  style="width:200px;height:200px; float:left">
        <div style="text-align: right;">
            <h4>5281 Mission St. San Francisco, Ca</h4>
            <p>Initial Investment ---</p>
            <p>Projected ROI</p>
        </div>
        </p>
    </div>
    <div class="col-sm-4">
        <p>
        <img align="left" src="https://images.unsplash.com/photo-1502005229762-cf1b2da7c5d6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=84594d82d0c4bf605c9670f3b9c46b56&auto=format&fit=crop&w=668&q=80"  style="width:200px;height:200px; float:left">
        <div style="text-align: right;">
            <h4>2321 First St. San Francisco, Ca</h4>
            <p>Initial Investment ---</p>
            <p>Projected ROI</p>
        </div>
        </p>
    </div>
        <div class="col-sm-4">
            <p>
            <img align="left" src="https://images.unsplash.com/photo-1527030280862-64139fba04ca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0fe48e5c6d14877269282b673665cd28&auto=format&fit=crop&w=1506&q=80"  style="width:200px;height:200px; float:left">
            <div style="text-align: right;">
                <h4>2711 Aledera St. San Francisco, Ca</h4>
                <p>Initial Investment ---</p>
                <p>Projected ROI</p>
            </div>
            </p>
        </div>
</div>
<div class="container" style="padding-top: 5%;">
  <div class="row">
    <div class="col-sm-4">
        <p>
        <img align="left" src="https://images.unsplash.com/photo-1522708323590-d24dbb6b0267?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fbaf60783e07f7b6bff745cc88da064a&auto=format&fit=crop&w=1650&q=80"  style="width:200px;height:200px; float:left">
        <div style="text-align: right;">
            <h4>2321 El Paco St. San Francisco, Ca</h4>
            <p>Initial Investment ---</p>
            <p>Projected ROI</p>
        </div>
        </p>
    </div>
    <div class="col-sm-4">
        <p>
        <img align="left" src="https://images.unsplash.com/photo-1426122402199-be02db90eb90?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjF9&s=3f0b0fa6440f74cd1d480e53cbaab5e3&auto=format&fit=crop&w=1650&q=80"  style="width:200px;height:200px; float:left">
        <div style="text-align: right;">
            <h4>2321 Seventh St. San Francisco, Ca</h4>
            <p>Initial Investment ---</p>
            <p>Projected ROI</p>
        </div>
        </p>
    </div>
        <div class="col-sm-4">
            <p>
            <img align="left" src="https://images.unsplash.com/photo-1486509556775-a2404e7d7d7d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=310f8b79d124bbc69a90980081fe8a21&auto=format&fit=crop&w=1650&q=80"  style="width:200px;height:200px; float:left">
            <div style="text-align: right;">
                <h4>2321 Delores St. San Francisco, Ca</h4>
                <p>Initial Investment ---</p>
                <p>Projected ROI</p>
            </div>
            </p>
        </div>
</div>
<br>
<h1>{{msg}}</h1>
