<!-- Top navbar with brand -->
<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">iDash</a>
</nav>

<div class="container">
    <div class="row">
        {{#each properties}}

      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="http://www.indianlink.com.au/wp-content/uploads/2012/12/Bali.jpg" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-text">{{this.address}}</h4>
            <p class="card-text">{{this.price}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <form action="/addProperties" method="POST">
                    <input  name="id" id="selected" value="{{this.id}}">
                    <button type="submit" class="btn btn-sm btn-info">Select</button>
                    <!-- <button type="button" class="btn btn-sm btn-outline-info">More Info</button> -->
                </form>
              </div>
              <small class="text-muted"></small>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
  </div>
</div>

<!-- <script>

    addPropery() {
        append.(this.id)
    }

</script> -->
